{% extends "layout.html" %} {% block title %}T3amcraft | About{% endblock %}{% block meta %}
<meta charset="UTF-8">
<meta property="og:type" content="website">
<meta property="og:title" content="T3amcraft" />
<meta property="og:description" content="This is T3amcrafts website, come check it out." />
<meta property="og:url" content="http://t3amcraft.xyz/about" />
<meta property="og:image" content="/static/LogoSite.jpg" />{% endblock %} {% block content %}
<div class="about">
    <h1 align=center>About me</h1>
    <p>This is a portfolio site about anything that can be put in a portfolio.</p>
</div>
{% endblock %}