{% extends "layout.html" %} {% block title %}T3amcraft | Home{% endblock %} {% block meta %}
<meta charset="UTF-8">
<meta property="og:type" content="website">
<meta property="og:title" content="T3amcraft" />
<meta property="og:description" content="This is T3amcrafts website, come check it out." />
<meta property="og:url" content="http://t3amcraft.xyz/" />
<meta property="og:image" content="/static/LogoSite.jpg" />{% endblock %}{% block content %}
<div class="home">
    <h1 align=center>T3amcrafts Flask Python Project</h1>
    <p>This website was built with Python via the Flask framework.</p>
    <p>Here you can use my Unturned Range app that I made by <br /> going to "Unturned" in the menu above or click this link:</p><a href="{{ url_for('range') }}">Unturned Voice and Area Range</a>
    <p>Made by T3amcraft</p>
</div>
{% endblock %}