<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon"> {% block meta %} {% endblock %}
    <div class="title">
        <title>{% block title %}{% endblock %}</title>
    </div>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <div class="container" style="white-space: nowrap; overflow: hidden;">
            <a href="{{ url_for('home') }}"><img src="/static/LogoSite.jpg" alt="My logo" class="logo"></a>
            <strong>
              <nav>
                <ul class="menu">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('content') }}">Content</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                  <li><a href="{{ url_for('pictures') }}">Pictures</a></li>
                  <li><a href="{{ url_for('unturned') }}">Unturned</a></li>
                </ul>
              </nav>
            </strong>
        </div>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>