{% extends "layout.html" %} {% block title %}T3amcraft | UnturnedRange{% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/unturnedrange.css') }}">{% endblock %} {% block content %}
<div class="unturnedrange">
    <h1 align=center class="title">Unturned Area and Voice Chat Range</h1>
    <div id="textbox">
        <h4 class="alignleft">
            <div class="map-with-text">
                <img id="map" class="mapimage" align=left src="/static/unturnedwashington.png" />

            </div>
        </h4>
        <p class="alignright">
            <h2>Click on the map to start</h2>
            Choose Range of Circle here:<br />
            <button id="areachat" type="button" onclick="areaChat()">Area Chat</button>
            <button id="voicechat" type="button" onclick="voiceChat()">Voice Chat</button>
            <br /><br /> Choose Map:<br />
            <button id="mediummap" onclick="mapWashington();">Washington</button>
            <button id="mediummap" onclick="mapPei();">PEI</button>
            <button id="mediummap" onclick="mapYukon();">Yukon</button>
            <br /><br /><br /><br /> <strong>New Updates:</strong> (View All the Updates further down)<br /> - Fixed Circle so it doesn't click outside the map.<br /> - Added the ability to change to change to a small selection of maps.<br /> - Added
            the ability to change the size of the area and voice chat circle with buttons.<br /> 17.04.2020
            <br />
            <br />
            <strong>To be added:</strong><br /> - Add a moveable ruler.<br /> - Add More Bigger and Smaller Maps.<br /> - Make this page nicer to look at.<br />
            <br />
            <strong>All Updates:</strong><br /> - Fixed Circle so it doesn't click outside the map.<br /> - Added the ability to change to change to a small selection of maps.<br /> - Added the ability to change the size of the area and voice chat circle
            with buttons.<br /> 17.04.2020
            <br /> - Added the app to this website.<br /> 16.04.2020
        </p>
    </div>
    <div id="circle" class="circle main"></div>
    <br /><br /><br />
    <p>Made by T3amcraft</p>

    <!-- All Scripts. -->
    <!-- space -->
    <script type="text/javascript" src="{{ url_for('static', filename='unturnedrange2.js') }}"></script>
    <div class="circles" width="600" height="600">
        <script type="text/javascript" src="{{ url_for('static', filename='unturnedrange.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </div>

</div>
{% endblock %}